<!-- navbar -->
<!-- navlinks -->

<div class="tab row d-flex justify-content-around align-items-center text-center">
  <div class="col-2 m-auto">
    <% if current_user.first_name && current_user.last_name %>
      <p class="my-0 text-warning">Welcome<strong> <%= current_user.first_name.capitalize %>!</strong></p>
    <% else %>
      <p class="my-0"><strong><%= current_user.email %></strong></p>
    <% end %>
  </div>
  <button class="tablinks col-2 m-auto" onclick="navTabs(event, 'Reservations')" id="defaultOpen"><i class="far fa-list-alt mx-2 text-warning"></i>My Reservations</button>
  <button class="tablinks col-2 m-auto" onclick="navTabs(event, 'Tables')"><i class="fas fa-utensils mx-2 text-warning"></i>My Tables</button>
  <button class="tablinks col-2 m-auto" onclick="navTabs(event, 'Edit')"><i class="far fa-user-circle mx-2 text-warning"></i>Edit profile</button>
</div>

<!-- edit profile form -->
<div class="mb-5">
  <div id="Edit" class="tabcontent">
    <div class="my-5">
      <h2 id="edit" class="text-center mb-5"><i class="far fa-user-circle mx-2 text-warning"></i> <strong>Edit Profile</strong></h2>
      <div class="d-flex justify-content-center mb-5">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, width: 120, height: 120, class: 'avatar-large' %>
        <% else %>
         <%= image_tag "https://res.cloudinary.com/dxiatpprs/image/upload/v1622037671/Mask_Group_1_agdpry.png", width: 120, height: 120, radius: 'max' %>
        <% end %>
      </div>
      <div class="row justify-content-around align-items-center">
        <div class="col-5">
          <%= simple_form_for(current_user, method: :patch, url: "/dashboard") do |f| %>
          <%= f.input :username %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :about, as: :text %>
          <%= f.input :address %>
          <%= f.input :phone_number %>
          <%= f.input :photo, as: :file, input_html: { class: 'd-none'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
          <%= f.submit 'Edit', class: 'btn btn-warning w-100'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- my reservations -->

<div id="Reservations" class="tabcontent mb-5">
  <h2 id="reservations"class="text-center my-5"><i class="far fa-list-alt mx-2 text-warning"></i> <strong>My Reservations</strong></h2>
  <% @reservations.each do |reservation| %>
    <div class="card-product p-3 mx-auto" style="width: 720px">
      <% if reservation.event.photo.attached? %>
        <%= cl_image_tag reservation.event.photo.key, class: "cards-reservation" %>
      <% else %>
        <%= cl_image_tag('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802286/tableshare/placeholder_pykjcu.jpg', class: "cards-reservation")%>
      <% end %>
      <div class="card-product-infos">
        <%= link_to user_path(reservation.event.user.id), {class: 'text-decoration-none'} do %>
          <% if reservation.event.user.photo.attached? %>
            <%= cl_image_tag reservation.event.user.photo.key, class: "avatar-bordered" %>
          <% else %>
            <%= cl_image_tag('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802280/tableshare/empty_avatar_wbkvsx.png', class: "avatar-bordered")%>
          <% end %>
          <small class="ml-1 text-secondary"><%= reservation.event.user.first_name %> <%= reservation.event.user.last_name %></small>
        <% end %>
        <%= link_to event_path(reservation.event), {class: 'text-decoration-none'} do %>
          <h2 class="card-product-titles mt-2"><%= reservation.event.title %></h2>
          <p class="mt-2 position-absolute bottom-0"><em class="text-warning">Where:</em> <%= reservation.event.address.truncate(40) %>
          <br><em class="text-warning">When:</em> <%= reservation.event.start_time.strftime("%A, %e %B - %H:%M")%></p>
          <div class="attendance-info border-attendance-info">
            <p class="d-inline">Status: </p><br>
            <% if reservation.status == 'accepted' %>
              <p class="text-success"><i class="product-info-icons fas fa-check text-warning"> </i><%= reservation.status.capitalize %></p>
            <% elsif reservation.status == 'declined' %>
              <p class="text-danger"><i class="product-info-icons fas fa-times text-danger"> </i> <%= reservation.status.capitalize %></p>
            <% else %>
              <p class="text-dark"><i class="product-info-icons far fa-clock text-warning"> </i> <%= reservation.status.capitalize %></p><br>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <h2 id="reservations_history"class="text-center my-5"><i class="far fa-list-alt mx-2 text-warning"></i> <strong>Reservation History</strong></h2>
  <% @pastReservations.each do |reservation| %>
     <div class="card-product p-3 mx-auto" style="width: 720px">
      <% if reservation.event.photo.attached? %>
        <%= cl_image_tag reservation.event.photo.key, class: "cards-reservation" %>
      <% else %>
        <%= cl_image_tag('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802286/tableshare/placeholder_pykjcu.jpg', class: "cards-reservation")%>
      <% end %>
      <div class="card-product-infos">
        <% if reservation.event.user.photo.attached? %>
          <%= cl_image_tag reservation.event.user.photo.key, class: "avatar-bordered" %>
        <% else %>
          <%= cl_image_tag('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802280/tableshare/empty_avatar_wbkvsx.png', class: "avatar-bordered")%>
        <% end %>
        <small class="ml-1"><%= reservation.event.user.first_name %> <%= reservation.event.user.last_name %></small>
        <%= link_to event_path(reservation.event), {class: 'text-decoration-none'} do %>
          <h2 class="card-product-titles mt-2"><%= reservation.event.title %></h2>
          <p class="mt-2 position-absolute bottom-0"><em class="text-warning">Where:</em> <%= reservation.event.address.truncate(40) %>
          <br><em class="text-warning">When:</em> <%= reservation.event.start_time.strftime("%A, %e %B - %H:%M")%>
          </p>
          <div class="attendance-info border-attendance-info">
            <% unless reservation.reviews.size.positive? %>
              <div class="btn btn-outline-warning"><%= link_to "Leave Review", new_event_reservation_review_path(reservation.event, reservation) %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

  <!-- my tables -->

<div id="Tables" class="tabcontent mb-5">

  <h2 id="tables" class="text-center my-3"><i class="fas fa-utensils mx-2 text-warning"></i> <strong>My Tables</strong></h2>
  <% @events.each do |event| %>
    <div class="card-product p-3 mb-3 mx-auto" style="width: 720px; height:100%;">
      <div class="d-flex">

        <div class="d-flex">
          <% if event.photo.attached? %>
            <%= cl_image_tag event.photo.key, class: "cards-reservation" %>
          <% else %>
            <%= cl_image_tag('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802286/tableshare/placeholder_pykjcu.jpg', class: "cards-reservation")%>
          <% end %>
          <div class="card-product-infos">
            <%= link_to event_path(event), {class: 'text-decoration-none'} do %>
              <h2 class="card-product-titles mt-0 mb-2"><strong><%= event.title %></h2></strong>
            <% end %>
            <h3 class="text-secondary"><%= event.start_time.strftime("%A, %e %B - %H:%M")%></h3>
            <small class="text-secondary"><%= event.address.truncate(35) %></small><br>
          <div class="pending-notifications">
            <% if event.reservations.where(status: "pending").count == 0 %>
              <p class="btn btn-warning mt-4 text-white">No Pending Invitations</p>
            <% else %>
              <button type="button" class="btn btn-outline-warning mt-3" data-toggle="modal" data-target="#exampleModal_<%= event.id %>">
                Pending Invites
                <span class="badge"><%= event.reservations.where(status: "pending").count %></span>
              </button>
            <% end %>
          </div>
        </div>

        <div class="cards-tables-invites">
          <p class="text-warning">Accepted Attendees:</p>
          <div class="d-flex justify-content-between mt-2">
            <% event.reservations.each do |reservation| %>
              <% if reservation.status == "accepted" %>
                <div class="text-center">
                  <%= link_to user_path(reservation.user.id), {class: 'text-decoration-none'} do %>
                    <% if reservation.user.photo.attached? %>
                      <%= cl_image_tag reservation.user.photo.key, width: 40, height: 40, crop: :thumb, :radius => 8 %>
                    <% else %>
                      <%= cl_image_tag('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802280/tableshare/empty_avatar_wbkvsx.png', width:40, height:40, class: "card-home-user avatar-bordered") %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>


      <!-- MODAL -->
    <div class="modal fade" id="exampleModal_<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-warning" id="exampleModalLabel">Pending Invites</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% event.reservations.each do |reservation| %>
              <% if reservation.status == "pending" %>
                <div>
                  <div class="notification">
                    <div class="img avatar-bordered">
                      <%= link_to user_path(reservation.user.id), {class: 'text-decoration-none'} do %>
                        <% if reservation.user.photo.attached? %>
                          <%= cl_image_tag reservation.user.photo.key, width: 40, height: 40, crop: :thumb, :radius => 8 %>
                        <% else %>
                          <%= cl_image_tag('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802280/tableshare/empty_avatar_wbkvsx.png', width:40, height:40, class: "card-home-user avatar-bordered") %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="notification-content">
                      <p class="text-warning"><small><%= reservation.user.first_name %></p></small>
                      <p><%= reservation.message %></p>
                    </div>
                    <div class="notification-actions">
                      <%= link_to "/reservations/#{reservation.id}/accept" do %> <i class="notification-actions-icons fas fa-check text-success"></i><% end %>
                      <%= link_to "/reservations/#{reservation.id}/decline" do %> <i class="notification-actions-icons fas fa-times text-danger"></i><% end %>
                    </div>
                  </div>
                </div>
              <% elsif reservation.status == "declined" %>
                <div class="text-center">
                  <div class="img avatar-bordered ml-4"><%= cl_image_tag reservation.event.user.photo.key, width: 40, height: 40, crop: :thumb, :radius => 8 %>
                  </div>
                  <div class="ml-2 text-secondary"><%= reservation.event.user.first_name %>
                  </div>
                </div>
                <p class="text-danger"></p>
              <% end %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- TABLE HISTORY -->
    <h2 class="text-center my-3"><i class="fas fa-utensils mx-2 text-warning"></i> <strong>Table History</strong></h2>
    <% @pastEvents.each do |event| %>
    <div class="card-product p-3 mb-3 mx-auto" style="width: 720px; height:100%;">
      <div class="d-flex">

        <div class="d-flex">
          <% if event.photo.attached? %>
            <%= cl_image_tag event.photo.key, class: "cards-reservation" %>
          <% else %>
            <%= cl_image_tag('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802286/tableshare/placeholder_pykjcu.jpg', class: "cards-reservation")%>
          <% end %>
          <div class="card-product-infos">
            <%= link_to event_path(event), {class: 'text-decoration-none'} do %>
              <h2 class="card-product-titles mt-0 mb-2"><strong><%= event.title %></h2></strong>
            <% end %>
            <h3 class="text-secondary"><%= event.start_time.strftime("%A, %e %B - %H:%M")%></h3>
            <small class="text-secondary"><%= event.address.truncate(50) %></small><br>
            <p class="text-secondary"><em><%= event.description.truncate(100) %></em></p>
          </div>
        </div>

      </div>
    </div>
  <% end %>

</div>
