<div class="card-review p-3 my-5 mx-auto" style="width: 720px">
  <h2 id="edit" class="text-center mb-5">
    <i class="far fa-user-circle mx-2 text-warning"></i>
      <%= @user.username != "" ? @user.username : "" %>
  </h2>
  <div class="d-flex justify-content-center mb-5">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, width: 120, height: 120, class: 'avatar-large' %>
    <% else %>
     <%= image_tag "https://res.cloudinary.com/dkdk2tuol/image/upload/v1623314871/tableshare/empty_avatar_wbkvsx_1_dl7y1h.png", width: 160, height: 160, radius: 'max' %>
    <% end %>
  </div>
  <div>
    <h4 class="text-center"><strong><%= @rating.round(1) %></strong> /5 <i class="fas fa-star text-warning"></i></h4>
  </div>
  <div class="d-flex justify-content-center mb-0">
    <h1 id="edit" class="text-center mb-5"><strong><%= @user.first_name != "" ? @user.first_name : @user.email %> <%= @user.last_name != "" ? @user.last_name : "" %></strong></h1>
  </div>

<!-- USER BIO -->
  <div class="px-4">
    <h4>About <%= @user.first_name != "" ?  @user.first_name : "" %></h4>
    <p><%= @user.about %></p>
  </div>
</div>

<!-- USER TABLES -->
<h2 id="tables" class="text-center my-5"><i class="fas fa-utensils mx-2 text-warning"></i> <strong><%= @user.first_name != "" ? @user.first_name : @user.email %>'s Tables</strong></h2>

<% @events.each do |event| %>
  <% if event.end_time > DateTime.now %>
    <div class="card-product p-3 mb-3 mx-auto" style="width: 720px">
      <% if event.photo.attached? %>
        <%= cl_image_tag event.photo.key, class: "cards-reservation" %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802286/tableshare/placeholder_pykjcu.jpg", class: "cards-reservation" %>
      <% end %>
      <div class="card-product-infos">
        <%= link_to event_path, {class: 'text-decoration-none'} do %>
        <h2 class="card-product-titles mt-0 mb-2"><%= event.title %></h2>
          <div class="">
            <% counter = 0 %>
            <% event.reservations.each do |reservation| %>
              <% counter =+ 1 %>
            <% end %>
            <p class=""><em class="text-warning">Where:</em> <%= event.address.truncate(40) %>
            <br><em class="text-warning">When:</em> <%= event.start_time.strftime("%A, %e %B - %H:%M")%>
            <br><em class="text-warning">Available seats:</em>
              <span class='<% if event.available_seats == event.reservations.size %>text-warning<% else %>text-success<% end %>'>
                <%= event.available_seats - counter %>/<%= event.available_seats %>
              </span></p>
          </div>
        <% end %>
      </div>
      <div class="cards-tables-invites pl-5">
        <p class="text-warning mb-2">Attendees:</p>
        <div class="d-flex">
          <% event.reservations.each do |reservation| %>
            <% if reservation.status == "accepted" %>
              <div class="text-center">
                <% if reservation.user.photo.attached? %>
                  <%= cl_image_tag reservation.user.photo.key, width: 40, height: 40, class: "avatar-bordered mr-1" %>
                <% else %>
                  <%= cl_image_tag('https://res.cloudinary.com/dkdk2tuol/image/upload/v1623314871/tableshare/empty_avatar_wbkvsx_1_dl7y1h.png', width:40, height:40, class: "avatar-bordered mr-1") %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<!-- USER REVIEWS -->
<h2 id="tables" class="text-center my-5"><i class="fas fa-utensils mx-2 text-warning"></i> <strong>Reviews for <%= @user.first_name != "" ? @user.first_name : @user.email %></strong></h2>

<% @user.reservations_as_host.each do |reservation|%>
  <% if reservation.reviews %>
    <% reservation.reviews.each do |review| %>
      <div class="card-review p-3 mb-5 mx-auto" style="width: 720px">
        <% if review.reservation.event.photo.attached? %>
          <%= cl_image_tag review.reservation.event.photo.key, class: "cards-reservation" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802286/tableshare/placeholder_pykjcu.jpg", class: "cards-reservation" %>
        <% end %>
        <div class="card-product-infos">
          <h2 class="card-product-titles mt-3"><strong><%= link_to review.heading, event_path(review), class: "text-warning" %></strong></h2>
        </div>
        <div>
          <p><%= link_to user_path(review.reservation.user) do %>
            <%= review.reservation.user.first_name ? review.reservation.user.first_name : review.reservation.user.email %>
            <%= review.reservation.user.last_name ? review.reservation.user.last_name : "" %>
            <% end %>
          </p>
        </div>
        <div>
          <p><%= review.content %></p>
        </div>
        <div>
          <p>Food: <strong><%= review.food_rating %></strong>/5</p>
          <p>Host: <strong><%= review.host_rating %></strong>/5</p>
          <p>Vibe: <strong><%= review.vibe_rating %></strong>/5</p>
          <p><strong> TOTAL RATING: <%= review.total_rating %></strong></p>
        </div>
        <div class="d-flex justify-content-around">
          <%= cl_image_tag review.photo.key, width: 700 if review.photo.attached? %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
