<div class="mt-5">
  <h2 id="edit" class="text-center mb-5">
    <i class="far fa-user-circle mx-2 text-warning"></i>
      <%= @user.username != "" ? @user.username : "" %>
  </h2>
  <div class="d-flex justify-content-center mb-5">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, width: 120, height: 120, crop: :thumb, radius: 'max' %>
    <% else %>
     <%= image_tag "https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802280/tableshare/empty_avatar_wbkvsx.png", width: 160, height: 160, radius: 'max' %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center mb-0">
    <h1 id="edit" class="text-center mb-5"><strong><%= @user.first_name != "" ? @user.first_name : @user.email %> <%= @user.last_name != "" ? @user.last_name : "" %></strong></h1>
  </div>
</div>

<p>BIO!</p>

<h2 id="tables" class="text-center my-5"><i class="fas fa-utensils mx-2 text-warning"></i> <strong><%= @user.first_name != "" ? @user.first_name : @user.email %>'s Tables</strong></h2>

<% @events.each do |event| %>
  <% if event.end_time > DateTime.now %>
    <div class="card-product p-3 mb-5 mx-auto" style="width: 720px">
      <% if event.photo.attached? %>
        <%= cl_image_tag event.photo.key, class: "cards-reservation" %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802286/tableshare/placeholder_pykjcu.jpg", class: "cards-reservation" %>
      <% end %>
      <div class="card-product-infos">
        <%= link_to event_path, {class: 'text-decoration-none'} do %>
        <h2 class="card-product-titles mt-3"><%= event.title %></h2>
          <div class="d-flex justify-content-between align-items-center">
            <% event.reservations.each do |reservation| %>
            <p><strong>Guests:</strong> <%= reservation.user.first_name %>
              <% if reservation.status == "pending" %>
                <div>
                  <%= link_to "Accept", "/reservations/#{reservation.id}/accept", class: 'btn btn-sm btn-warning' %>
                  <%= link_to "Decline", "/reservations/#{reservation.id}/decline", class: 'btn btn-sm btn-danger' %>
                </div>
              <% else %>
                <div class="p-1">
                  <% if reservation.status == 'accepted' %>
                    <p class="text-success"><%= reservation.status.capitalize %></p>
                  <% elsif reservation.status == 'declined' %>
                    <p class="text-danger"><%= reservation.status.capitalize %></p>
                  <% else %>
                    <p class="text-dark"><%= reservation.status.capitalize %></p>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<h2 id="tables" class="text-center my-5"><i class="fas fa-utensils mx-2 text-warning"></i> <strong>Reviews for <%= @user.first_name != "" ? @user.first_name : @user.email %></strong></h2>

<% @user.reservations_as_host.each do |reservation|%>
  <% if reservation.reviews %>
    <% reservation.reviews.each do |review| %>
      <div class="card-review p-3 mb-5 mx-auto" style="width: 720px">
        <% if review.reservation.event.photo.attached? %>
          <%= cl_image_tag review.reservation.event.photo.key, class: "cards-reservation" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802286/tableshare/placeholder_pykjcu.jpg", class: "cards-reservation" %>
        <% end %>
        <div class="card-product-infos">
          <h2 class="card-product-titles mt-3"><strong><%= link_to review.heading, event_path(review), class: "text-warning" %></strong></h2>
        </div>
        <div>
          <p><%= link_to user_path(review.reservation.user) do %>
            <%= review.reservation.user.first_name ? review.reservation.user.first_name : review.reservation.user.email %>
            <%= review.reservation.user.last_name ? review.reservation.user.last_name : "" %>
            <% end %>
          </p>
        </div>
        <div>
          <p><%= review.content %></p>
        </div>
        <div>
          <p>Food: <strong><%= review.food_rating %></strong>/5</p>
          <p>Host: <strong><%= review.host_rating %></strong>/5</p>
          <p>Vibe: <strong><%= review.vibe_rating %></strong>/5</p>
          <p><strong> TOTAL RATING: <%= review.total_rating %></strong></p>
        </div>
        <div class="d-flex justify-content-around">
          <%= cl_image_tag review.photo.key, width: 700 if review.photo.attached? %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
