<div class="row secondary_navbar d-flex justify-content-around align-items-center text-center">
  <div class="col-2 m-auto"><i class="far fa-user-circle mx-2"></i><%= link_to "Edit profile", "#edit" %><p class="my-0"></p></div>
    <div class="col-2 m-auto"><i class="far fa-list-alt mx-2"></i><%= link_to "My Reservations", "#reservations" %><p class="my-0"></p></div>
    <div class="col-2 m-auto">
      <% if current_user.first_name && current_user.last_name %>
        <p class="my-0"><strong><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></strong></p>
        <p class="my-0"><%= current_user.username %></p>
      <% else %>
        <p class="my-0"><strong><%= current_user.email %></strong></p>
      <% end %>
    </div>
    <div class="col-2 m-auto"><i class="fas fa-utensils mx-2"></i><%= link_to "My Tables", "#tables" %><p class="my-0"></p></div>
    <div class="col-2 m-auto"><i class="far fa-envelope mx-2"></i><%= link_to "My Messages", "#messages" %><p class="my-0"></p></div>
</div>

<div class="my-5">
  <h2 id="edit" class="text-center mb-5"><strong>Edit Profile</strong></h2>
  <div class="d-flex justify-content-center mb-5">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, width: 120, height: 120, crop: :thumb, radius: 'max' %>
    <% else %>
     <%= image_tag "https://res.cloudinary.com/dxiatpprs/image/upload/v1622037671/Mask_Group_1_agdpry.png", width: 120, height: 120, radius: 'max' %>
    <% end %>
  </div>
  <div class="row justify-content-around align-items-center">
    <div class="col-5">
      <%= simple_form_for(current_user, method: :patch, url: user_path) do |f| %>
      <%= f.input :username %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :about, as: :text %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.input :allergies %>
      <%= f.input :photo, as: :file, input_html: { class: 'd-none'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
      <%= f.submit 'Edit', class: 'btn btn-warning w-100'%>
      <% end %>
    </div>
  </div>
</div>

<h2 id="reservations"class="text-center mb-5"><strong>My Reservations</strong></h2>

<% @reservations.each do |reservation| %>
<div class="card-product p-3 mb-3 mx-auto" style="max-width: 720px">
  <img src="https://source.unsplash.com/random?food" alt="a picture of food" class="cards-reservation"/>
    <div class="card-product-infos">
      <img src="https://source.unsplash.com/random?person" style="width:40px; height:40px;" class="avatar-bordered mt-0 mb-2 img-fluid" />
      <%= link_to event_path, {class: 'text-decoration-none'} do %>
      <h2 class="card-product-titles mt-3"><%= reservation.event.title %></h2>
      <p class="mt-3"><em class="text-warning">Where:</em> <%= reservation.event.address %> <br><em class="text-warning">When:</em> <%= reservation.event.start_time.to_formatted_s(:short) %></p>
    </div>
      <% if reservation.event.end_time < DateTime.now %>
        <% unless reservation.reviews.size.positive? %>
          <div class="btn btn-outline-warning"><%= link_to "Leave Review", new_event_reservation_review_path(reservation.event, reservation) %>
        <% end %>
      <% else %>
        <div class="btn btn-outline-warning"><%= link_to "Edit attendance", reservation_path(reservation) %>
      <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<%= console  %>


<h2 id="tables" class="text-center my-5"><strong>My Tables</strong></h2>

<% @events.each do |event| %>
<div class="card-product p-3 mb-5 mx-auto" style="max-width: 720px">
  <img src="https://source.unsplash.com/random?food" alt="a picture of food" class="cards-reservation"/>
  <div class="card-product-infos">
    <img src="https://source.unsplash.com/random?person" style="width:40px; height:40px;" class="avatar-bordered mt-0 mb-2 img-fluid" />
    <%= link_to event_path, {class: 'text-decoration-none'} do %>
    <h2 class="card-product-titles mt-3"><%= event.title %></h2>
    <p class="mt-3">When:</em> <%= event.date %></p>
  </div>
</div>
<% end %>
<% end %>


