
  <div class="row">
    <div class="col-7">
      <div class="row">
        <div class="col-12 pr-0">
          <div>
            <div class="p-4">
              <p class="m-0">100 + tables found</p>
              <h2>Tables in Nørrebro</h2>
            </div>
            <% @events.each do |event| %>
              <%= link_to event_path(event), {class: 'text-decoration-none'} do %>
                <div class="card-product p-3">
                  <img src="https://source.unsplash.com/random?food" />
                  <div class="card-product-infos w-100">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex justify-content-left">
                        <img src="https://source.unsplash.com/random?person" style="width:30px; height:30px;" />
                        <p class="ml-2"><%= event.user.email %></p>
                      </div>
                      <p>€ <%= event.price %></p>
                    </div>
                    <div>
                      <h3 class="mt-2"><%= event.title %></h3>
                      <p><%= event.description %></p>
                      <p class="mt-3"><%= event.start_time %> time goes here</p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 pl-0">
      <div class="border bg-light vh-100">
        <h3>MAPI </h3>
      </div>
    </div>
  </div>

