<% if @event.photo.attached? %>
  <div class="img-fluid show-banner" style="background-image:url('<%= cl_image_path(@event.photo.key) %>');">
    <h2 style="padding: 250px 100px 120px; font-size: 40px; font-weight: 700; text-shadow: 1px 1px rgba(200,200,200, 0.4)"><%= @event.title %></h2>
  </div>
<% else %>
  <div class="img-fluid show-banner" style="background-image:url('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802286/tableshare/placeholder_pykjcu.jpg');">
    <h2><%= @event.title %></h2>
  </div>
<% end %>
<div class="container my-5">
  <div class="row">
    <div class="col-3">
      <div class="card p-3 border">
        <% if @host == current_user %>
          <p><strong>Host:</strong> You 😊</p>
        <% else %>
          <p><strong>Host:</strong> <%= @host.first_name %> (<%= @host.username %>) </p>
        <% end %>
        <p><strong>Price:</strong> <%= @event.price %> €</p>
        <p><strong>Available seats: </strong> <%= @event.available_seats %></p>
        <p><strong>Time: </strong>
        <%= @event.start_time.to_formatted_s(:short) %> </p>
      </div>
      <% if @host != current_user && @event.end_time > DateTime.now %>
        <div class="row">
          <div class="col-12">
            <% if  @pending_guests.include?(current_user) %>
              <button disabled type="button" id="reservation-btn" class="btn btn-warning w-100 mt-4 text-white" data-toggle="modal" data-target="#exampleModal">
                Pending
              </button>
            <% elsif @guests.include?(current_user)  %>
              <div></div>
            <% else %>
              <button type="button" id="reservation-btn" class="btn btn-warning w-100 mt-4 text-white" data-toggle="modal" data-target="#exampleModal">
                Make a reservation
              </button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-5">
      <div class="row">
        <div class="col-12">
          <p><%= @event.description %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p><strong>Adress: </strong> <%= @event.address %></p>
        </div>
        <div class="col-12">
          <p><strong>Ingredients:</strong>
            <%= @event.ingredients %></p>
        </div>
        <div class="col-12">
          <p class="d-inline pr-3"><strong>Attendees: </strong></p>
          <ul class="list-inline d-inline">
            <% @attendees.each do |attendee| %>
              <li class="list-inline-item">
                <% guest = attendee.user %>
                <% if guest.photo.attached? %>
                  <p><%= cl_image_tag guest.photo.key, width:40, height:40, class: "card-home-user avatar-bordered" %></p>
                <% else %>
                  <p><%= cl_image_tag 'https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802280/tableshare/empty_avatar_wbkvsx.png', width: 40, height: 40, class: "card-home-user avatar-bordered" %></p>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% if @guests.include?(current_user) || @event.user == current_user %>
    <div class="col-4">
      <div class="chat">
        <div id="messages_box" data-user="<%= current_user.id %>" data-chatroom-id="<%= @event.chatroom.id %>">
          <% if @messages.empty? %>
            <div></div>
          <% else %>
            <% @messages.each do |message| %>
             <%= render '/messages/message', message: message %>
            <% end %>
          <% end %>
        </div>
        <%= simple_form_for [@event, @message], remote: true do |f| %>
          <%= f.input :message, label: false, placeholder: "Let the host know about any allergies" %>
          <%= f.submit "Send", class: 'w-100 btn btn-outline-warning' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Extra information:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@event, @reservation]) do |f| %>
        <%= f.input :message %>
        <%= f.submit 'Request reservation', input_html: { id: "request-btn" }, class: 'btn btn-outline-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Event Reviews -->

<% console %>

<% if @event.end_time < DateTime.now %>
 <% @event.reservations.each do |reservation| %>
  <% reservation.reviews.each do |review| %>
    <div class="card-review p-3 mb-5 mx-auto" style="width: 720px">
      <div class="py-4">
        <h5><strong><%= review.heading %></strong></h5>
      </div>
      <div>
        <p><%= review.content %></p>
      </div>
      <div>
        <p>Food rating: <strong><%= review.food_rating %></strong>/5</p>
        <p>Host rating: <strong><%= review.host_rating %></strong>/5</p>
        <p>Vibe rating: <strong><%= review.vibe_rating %></strong>/5</p>
        <p><strong> TOTAL RATING: <%= review.total_rating %></strong></p>
      </div>
      <div class="d-flex justify-content-around">
        <%= cl_image_tag review.photo.key, width: 700 if review.photo.attached? %>
      </div>
    </div>
  <% end %>
 <% end %>
<% end %>
