<!-- <div class="container"> -->
  <div class="banner_home">
    <div class="container">
      <div class="banner-info">
        <h1><strong>Share food.</strong></h1>
        <h1><strong>Share happiness.</strong></h1>
        <h1><strong>TableShare.</strong></h1>
      </div>
    </div>
  </div>
<div class="container">
  <div class="search">
    <%= simple_form_for :search, url: events_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :address, required: true, label: false, placeholder: 'Address' %>
      <%= f.input :date1, required: true, label: false, placeholder: "Start date", input_html: {id: 'range_start'} %>
      <%= f.input :date2, label: false, placeholder: "End date", input_html: {id: 'range_end'} %>
      <%= f.button :submit, 'Search!', class: 'btn btn-warning text-white' %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="my-5" style="color:black"><strong>Tables shared near you!</strong></h2>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="cards">
      <% @events.each do |event| %>
      <% unless event.start_time.past? %>
        <%= link_to event_path(event), {class: 'text-decoration-none'} do %>
          <div class="card-trip">
             <% if event.photo.attached? %>
                <%= cl_image_tag event.photo.key %>
              <% else %>
                <%= cl_image_tag('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802286/tableshare/placeholder_pykjcu.jpg', width:40, height:40) %>
              <% end %>
            <div class="card-trip-infos">
              <div >
                <h3 class="mt-2"><%= event.title %></h3>
                <p><%= event.description.truncate(100) %></p>
              </div>
              <div>
                <p><em class="text-warning">When:</em> <%= event.start_time.strftime("%A, %e %B - %I:%M")%> </p>
                <p><em class="text-warning">Where:</em> <%= event.address.split(",")[0] %> </p>
                <p><em class="text-warning">Price:</em> € <%= event.price %></p>
                <% if event.user.photo.attached? %>
                  <%= cl_image_tag event.user.photo.key, class: "card-trip-user avatar-bordered" %>
                <% else %>
                  <%= cl_image_tag('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622802280/tableshare/empty_avatar_wbkvsx.png', width:40, height:40, class: "card-trip-user avatar-bordered") %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <div class="row d-flex justify-content-center text-center">
      <div class="col-4" style="margin-bottom: 28px;">
      <%= link_to "See more!", events_path, class: "btn btn-warning text-white" %>
      </div>
    </div>
  </div>
</div>
