<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to TableShare!</title>
    <meta name="description" content="Share food. Share happiness. TableShare.">
    <meta name="keywords" content="food sharing, community experience, food marketplace, tableshare, table, sharing">
    <meta name="author" content="Towa S, Daniela R, Rui R">
    <meta property="og:image" content='<%= cl_image_tag("https://res.cloudinary.com/dkdk2tuol/image/upload/v1623769406/tableshare/TableShareHeroImage_wg87jq.png") %>'/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/dkdk2tuol/image/upload/v1622726888/tableshare/logo_01_kd5ctr.png"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>




  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/footer' %>


  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

  </body>
</html>
